@import "application.css";

.init-caisse-btn{
    -fx-background-color: transparent;
    -fx-text-fill: -fx-primary;
    -fx-fill:-fx-primary;
    -fx-cursor: hand;
}

.init-caisse-btn:hover{
    -fx-background-color: -fx-lightgrey;
}

.gusers-field{
    -fx-background-color: -fx-lightGrey;
}
.gusers-field:focused{
    -fx-background-color: -fx-lightGrey;
    -fx-border-color: -fx-primary;
    -fx-border-width: 1;
    -fx-text-fill: -fx-primary;
}
.toggle-group{
    -fx-border-color: linear-gradient(to right, #0F85F5, #963BF7);
    -fx-border-width: 2;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
}
.role-toggle{
    -fx-background-color: #fff;
    -fx-cursor: hand;
}
.role-toggle:selected{
    -fx-background-color: linear-gradient(to right, #0F85F5, #963BF7);
    -fx-text-fill: #fff;
}

.gusers-btns{
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-cursor: hand;
}
.gusers-btns:hover{
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}

.edit-btn{
    -fx-background-color: rgba(15,133,245,0.2);
    -fx-text-fill: -fx-primary;
    -fx-fill:-fx-primary;
}

.add-btn{
    -fx-background-color: rgba(62,247,59,0.2);
    -fx-text-fill: -fx-secondary;
    -fx-fill:-fx-secondary;
}

.search-btn{
    -fx-background-color: rgba(150,59,247,0.2);
    -fx-text-fill: -fx-v;
    -fx-fill:-fx-v;
}
.delete-btn{
    -fx-background-color: rgba(255,60,60,0.2);
    -fx-text-fill: #f44;
    -fx-fill:#f44;
}
.refresh-btn{
    -fx-background-color: rgba(60,60,60,0.2);
    -fx-text-fill: #666;
    -fx-fill:#666;
}

.table-view{
    -fx-background-color: #fff;
    -fx-table-cell-border-color: transparent;
    -fx-border-color: transparent;
    -fx-selection-bar: -fx-primary;
    -fx-selection-bar-non-focused: rgba(15,133,245,0.2);
}
.table-row-cell {
    -fx-border-width: 0;
    -fx-cursor: hand;
}
.table-row-cell:selected .label{
    -fx-background-color: -fx-grey;
    -fx-text-fill: -fx-primary;

}

.table-column {
    -fx-background-color: #fff;
    -fx-padding: 0;
    -fx-font-size: 12;
    -fx-border-color: transparent;
    -fx-background-color: transparent;

    -fx-background-insets: 0.0;
}
.table-column .label {
    -fx-background-insets: 0.0;
    -fx-padding: 5 0 0 0;
    -fx-text-alignment: left;
    -fx-alignment: center-left;
    -fx-text-fill: -fx-grey;
    -fx-background-color: #fff;
}
.gusers-column >.label{
    -fx-text-alignment: left;
    -fx-alignment: center-left;
}


.gusers-field-error{
    -fx-text-fill: #FF4747;
    -fx-fill:#FF4747;
}