

/* ------------ LOGIN VIEW STYLES --------------- */
@import "application.css";

.login-close{
	-fx-background-color:rgba(0,0,0,0);
}

.login-title{
	-fx-text-fill:-fx-black;
}

.login-btn{
	-fx-background-color:-fx-primary;
	-fx-border:none;
	-fx-text-fill:#FFF;
	-fx-cursor: hand;
}

.login-btn:hover{
	-fx-scale-x: 1.05;
	-fx-scale-y: 1.05;
}

.field-title{
	-fx-text-fill: -fx-grey;
}

.login-field{
	-fx-text-fill: -fx-black;
}

.login-field:focused{
	-fx-border-color: -fx-primary;
	-fx-text-fill: -fx-primary;
}